
.album-cover {
    background-color: black;
    margin: 10px;
    border: 3px solid white;
    /*backgroundImage: 'url(' + data.albums.items[1].images[0].url + ')',*/
    background-size: cover;
   /* height:100px;
    width: 100px;*/
   } 
 
.album-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
}
    
.artist-name {
    font: 14px Helvetica #a0a0a0;
   
}

/******** Hover & underline *********/
.album-info .album-title{
    color:white;
    text-decoration: none;
  }  
  .album-inf .album-title:hover{
    text-decoration: underline;
  }  

  .album-inf .artist-name{
    color:white;
    text-decoration: none;
  }  
  .album-inf .artist-name:hover{
    text-decoration: underline;
  } 
  
 /********* Icons *************/

 .icons {
   background: yellow;
 }
  