
.album-cover {
    background-color: black;
    margin: 10px;
    border: 3px solid white;
    /*backgroundImage: 'url(' + data.albums.items[1].images[0].url + ')',*/
    background-size: cover;
   /* height:100px;
    width: 100px;*/
   } 
 
.album-title {
  color: white;
  font-size: 14px;
  margin: 0px;
}
    
.artist-name {
  font-size: 14px;
  margin: 0px;
  color: white;
   
}

/******** Hover & underline *********/
.album-info .album-title{
    color:white;
    text-decoration: none;
  }  
  .album-info .album-title:hover{
    text-decoration: underline;
  }  

  .album-info .artist-name{
    color:white;
    text-decoration: none;
  }  
  .album-info .artist-name:hover{
    text-decoration: underline;
  } 
  
 /********* Icons *************/


 .icons { 
 background: yellow;
  width: 20px; 
  height: 20px; 
} 

.heart-icon {
  width: 7px;
  height: 7px;
}

.play-icon {
  width: 7px;
  height: 7px;
}

.dots-icon {
  width: 7px;
  height: 7px;
}

 /********* Media *************/

@media (min-width: 668px) and (max-width: 1024px) {

  .album-cover {
    /*display: flex;
    flex-direction: column;  */
    width:45%;
    padding: 5px;
    padding-top: none;
  }
  .album-image {
    width: 300px;
    padding-bottom: 10px;
  }  
}

@media (min-width: 1025px) {
  .album-cover {
    width: 20%;
    padding-top: none;
  }
  .album-title {
    max-width: fit-content;
  }
  .album-image {
        width: 95%;
        padding: 10px;
  }
}