
.album-cover {
    background-color: black;
    margin: 10px;
    background-size: cover;
    
   } 
 
.album-info{
  width: 300px;
  height: 100px;
  color: #fff;
}

a {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.artist-name{
  font-size: 14px;
  font-family: inherit;
  color: #fff;

}
/********* Icons *************/
.cover-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

 .icons { 
  top: 162px;
 
  z-index: 3;
  align-self: center;
  display: none;
  position: absolute;
  transform: translate(34%, -50%);
} 

.heart-icon {
  width: 44px;
  height: 70px;
}

.play-icon {
  width: 104px;
    height: 71px;
}

.dots-icon {
  width: 34px;
  height: 68px;
}

/******** Hover album cover and icons *********/

.album-image {
  width: 100%;

  position: relative;
}

.album-image:hover {
  opacity: 0.3;
}

.album-image:hover { 
  filter: brightness(30%); 
}

/*.icons {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}*/

icons:hover ~ .album-image { 
  filter: brightness(30%); 
}

/******** Hover info & underline info *********/
.album-info a {
    color:#fff;;
    text-decoration: none;
  }  
  .album-info a:hover{
    text-decoration: underline;
  }  

  .album-info .artist-name{
    color:#fff;;
    text-decoration: none;
  }  
  .album-info .artist-name:hover{
    text-decoration: underline;
  } 
  
 
 /********* Media *************/

@media (min-width: 668px) and (max-width: 1024px) {

  .album-cover {
    /*display: flex;
    flex-direction: column;  */
    width:45%;
    padding: 5px;
    padding-top: none;
  }
  .album-image {
    width: 300px;
    padding-bottom: 10px;
  }  
}

@media (min-width: 1025px) {
  .album-cover {
    width: 20%;
    padding-top: none;
  }
  .album-title {
    max-width: fit-content;
  }
  .album-image {
        width: 95%;
        padding: 10px;
  }
}