.header {
    color: white;
    height: 100px;
    width: 100%;
    font-family: Helvetica;
    
}

h1 {
    font-size: 14px;
    justify-content: baseline;
  
}

@media (min-width: 668px) and (max-width: 1024px) {
    .Header {
      text-align: center;
    }
    h1 {
      padding-left: 0;
    }
}